@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  width: 2px;

}
::-webkit-scrollbar-thumb{
  background: #f82b2b;
  border-radius: 10px;
}

:root {
  --background: #131111
}
*{
  font-family: 'Work Sans', sans-serif ;
  font-weight: 500;
}
body {
  
  background: var(--background)
}

.desactive-scrollbar::-webkit-scrollbar{
  display: none;

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.gradiant_text{
  background: -webkit-linear-gradient(45deg, #09009f, #f82b2b 80%);
  background-clip: text; /* apply background clip */
  -webkit-text-fill-color: transparent;
}